<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/css/*.css" />
    <title>MVCBartender</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">MVCBartender</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
